<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.eventerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature android:name="android.hardware.camera" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/my_qr_code_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MyChatsActivity"
            android:parentActivityName=".activity.HomePage"></activity>
        <activity
            android:name=".activity.MyStatusActivity"
            android:parentActivityName=".activity.HomePage" />
        <activity
            android:name=".activity.MyQrActivity"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QrResultActivity"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraActivity"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentTheme"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.HomePage" />
        <activity
            android:name=".activity.MembersActivity"
            android:parentActivityName=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchingResult"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MessageNotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.RoomAdd"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EventActivity"
            android:parentActivityName=".activity.HomePage"
            android:theme="@style/AppTheme.TransparentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RoomActivity"
            android:theme="@style/AppTheme.TransparentTheme"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBuilding"
            android:parentActivityName=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomePage"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.TransparentTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>